@import "~sass/variables"
    
.column 
    height: inherit
    width: 100px
    float: left
    position: relative
    &:hover
        .chord-slider, .octave-marker, .step-marker
            opacity: 1

.chord-slider
    opacity: 0
    height: 100%
    width: 2px
    position: absolute
    top: 0
    left: 50%
    margin-left: -1px
    z-index: -2
    background-color: $lighterpurple
    transition: opacity 100ms ease-in